/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
   font-family: 'FFF-Forward';
   src: asset_url('FFF-Forward.TTF') format('truetype');
   font-weight: normal;
   font-style: normal;
 }

 // Raleway and Cabin

 body {

     font-family: sans-serif;
 }

 *:focus {
     outline: none !important;
 }

 .top-div, .main-div {
     min-width: 842px;
 }

 .top {
     width: 100%;
     margin: 0;
     padding: 0;
 }

 .logo {
     background: #000;
     margin: 0;
     height: 60px;
     min-width: 140px;
 }

 .logo h1 {
     color: #FFF;
     font-size: 2.5em;
     vertical-align: middle;
     text-align: left;
     padding-left: 20px;
     line-height: 1.8;
     margin: 0;
     font-family: 'Raleway', Arial, sans-serif;
     font-weight: 600;
 }


 .top-bar {
     background-color: lightgrey;
     height: 60px;
     color: #000;
     font-size: 3em;
     display: table-cell;
     vertical-align: middle;
     text-align: center;
     line-height: 1;
     margin: 0;
     padding-top: 10px;
     font-family: 'Raleway', sans-serif;
     font-weight: 400;
     padding-right: 40px;


 }

 .sidebar {
     padding-right: 0;
     background-color: lightgrey;
     height: 880px;
     min-width: 140px;

 }

 .barbutton {
     width: 100%;
     padding: 18px 15px;
     text-align: left;
 }

 ul.nav {
     font-family: 'Cabin', sans-serif;
     font-size: 1.3em;
     font-weight: 400;
     text-transform: uppercase;

 }

 .nav>li>a {
     position: relative;
     display: block;
     padding: 0;
 }

 li a {
     color: #000;
 }

 li.active a {

     border-radius: 0px;
 }

 .nav-pills>li.active>a, .nav-pills>li.active>a:focus {
     color: #fff;
     background: grey;
 }

 .nav-pills>li.active>a:hover {
     color: #000;
     background: #fff;
 }

 .tab-content {
     margin-left: 20px;
     margin-right: 30px;
     padding: 0;

 }

 #kpistab .tab-content {
     margin-left: 0px;
     margin-right: 0px;
     padding: 0;

 }



 h2 {
     font-family: 'Raleway', sans-serif;
     font-size: 3.5em;
     font-weight: bold;
     text-align: center;
     padding: 22px 10px;
     text-transform: uppercase;
     text-align: center;
     border: 2px solid black;
     border-radius: 4px;
 }

 .col-1 {
     margin: 0;
 }

 .left-1 {
     height: 338px;
     background: transparent;
     margin: 0;
     padding:0;
     border-radius: 4px;
     font-family: 'Cabin', sans-serif;
     font-weight: 400;
     margin-bottom: 20px;
 }

 .box-1 {
     height: 270px;
     background: transparent;
     border-radius: 10px 0 0 10px;
     padding:0;
     margin: 0;
     margin-top: 6px;
     border: solid 2px black;
     border-right: 0px;
 }

 img.guyimage {
     height: 260px;
     background: transparent;
     padding:0;
     margin: 0;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 6px;
 }
 .guytext {
     padding: 16px;
     font-family: 'Raleway', sans-serif;
 }
 .guytext-2 {
     padding: 16px;
     font-family: 'Raleway', sans-serif;
     font-size: 1.3em;
 }

 .bosstext {
     padding: 16px;
     font-family: 'Raleway', sans-serif;
     font-size: 1.8em;
     text-transform: none;
     font-weight: 300;
 }
 .box-2 {
     height: 270px;
     background: #FeFeFe;
     border-radius: 0 20px 20px 0;
     border: solid 2px black;
     padding:0;
     margin: 0;
     margin-top: 6px;
 }
 .box-3 {
     height: 270px;
     background: #FeFeFe;
     border-radius: 0 20px 20px 0;
     border: solid 2px black;
     padding: 16px;
     margin: 0;
     margin-top: 6px;
     font-family: 'Raleway', sans-serif;
 }
 .box-4 {
     height: 168px;
     background: #FeFeFe;
     border-radius: 0 20px 20px 0;
     border: solid 2px black;
     padding: 16px;
     margin: 0;
     margin-top: 6px;
     font-family: 'Raleway', sans-serif;
 }

 .left-1 h3.kpi {
     margin: 0;
     padding: 36px 20px;
     text-transform: uppercase;
     font-family: 'Cabin', sans-serif;
     text-align: center;
     border: 2px solid black;
     border-radius: 4px;
     font-size: 2em;
     line-height: 1.5em;


 }

 .left-1 h3.kpi .tag {
     font-size: 1.4em;
     font-weight: 600;
     text-transform: capitalize;


 }

 .left-1 h3 {
     margin: 0;
     padding: 16px 10px;
     text-transform: uppercase;
     font-family: 'Cabin', sans-serif;
     text-align: center;
     border: 2px solid black;
     border-radius: 4px;


 }

 .left-1 h4 {
     font-size: 1.6em;
 }

 .bold {
     font-size: 1.5em;
     font-weight: bold;
 }



 .btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
     margin-left: 0px;
     height: 50px;
     font-size: 0.9em;
     text-transform: uppercase;
     font-weight: 600;
     margin-bottom: 5px;
 }

 .btn-toolbar>.kpibut-2 {
     width: 50%;
     height: 70px;
 }
 .kpibut-2-3 {
     width: 50%;
 }
 .btn-toolbar>.kpibut-3 {
     width: 33.3%;
     height: 100px;
 }

 #kpistab ul {
     margin-bottom: 12px;
     margin-left: -5px;
 }

 #kpistab .nav-tabs>li  {
     padding: 0px;
     font-family: 'Raleway', Arial, sans-serif;
     font-weight: 600;
     font-size: 16px;
 }

 #kpistab .nav-tabs>li>a {
     padding: 5px;
     background: lightgrey;
     color: #000;
     background-repeat: repeat-x;
     border-color: #dbdbdb;
     border-color: #ccc;

     line-height: 1.3333333;
     border-radius: 6px;
     display: inline-block;
     padding: 6px 12px;
     margin-bottom: 0;
     font-size: 0.8em;
     font-weight: 600;
     line-height: 1.42857143;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
     border: 1px solid transparent;
     border-radius: 4px;


 }

 #kpistab .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:current {
     color: #555;

 }

 .nav-tabs {
     border-bottom: none;
 }

 .nav-stacked>li {
     padding-left: 0px;
 }

 .indicator {
     font-weight: bold;
     text-transform: uppercase;
 }

 h2.weektitle {
     border: none;
     text-transform: none;
 }

 .btn-toolbar>.nextbutton {
     width: 100%;
     font-size: 2em;
     height: 3em;
 }
